.portfolio-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  margin: 20px auto;
}

.section-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel-container {
  display: flex;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}

.imagem-container {
  position: relative;
}


.img-portfolio {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 4px;
  flex-shrink: 0;
}

.btn-carousel {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20;
  color: #333;
  padding: 4px;
}

.icone-navegacao {
  width: 24px;
  height: 24px;
}

.portfolio-carousel.compacta .img-portfolio {
  width: 5rem;
  height: 5rem;
}

.portfolio-carousel.compacta {
  width: 100%;
}

.btn-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  transition: 0.3s;
  z-index: 10;
}