/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: 'Lakes_neue';
    src: url(./fonts/tt_lakes_neue/TT\ Lakes\ Neue\ Trial\ Compressed\ Bold.ttf); 
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Prosto_sans';
    src: url(./fonts/tt_prosto_sans/TT%20Prosto%20Sans%20Trial%20Condensed%20Thin.otf);
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Prosto_sans';
    src: url(./fonts/tt_prosto_sans/TT\ Prosto\ Sans\ Trial\ Condensed\ Light.otf);
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Prosto_sans';
    src: url(./fonts/tt_prosto_sans/TT\ Prosto\ Sans\ Trial\ Condensed\ Regular.otf);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Prosto_sans';
    src: url(./fonts/tt_prosto_sans/TT\ Prosto\ Sans\ Trial\ Condensed\ Bold.otf);
    font-weight: 700;
    font-style: normal;
  }
  
    @font-face {
      font-family: 'Avallon';
      src: url(./fonts/avallon/Avallon.ttf); 
      font-weight: normal;
      font-style: normal;
    }
    
    
  
  /* Definição de variáveis de cor e fonte */
  :root {
  
    --cor0: #310352;
    --cor1: #8A2BE2; 
    --cor2: #FFFFFF;
    --cor3: #696969;
    --cor4: #E0E0E0;
    --cor5: #4b0082;
    --cor7: #9831b8;
  
    --fonte-padrao: 'Prosto_sans', sans-serif;
    --fonte-destaque: 'Avallon', serif;
    --fonte-cabeçalho: 'Lakes_neue'; 
  }
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);
  }
/*------------------------------------------------------------------------------------------------*/
.secao-agenda {
  position: relative;
  min-height: 100vh;
  padding: 2rem 1rem;
  font-family: var(--fonte-padrao);
  color: var(--cor2);
  z-index: 0;
  overflow: hidden;
}

.secao-agenda::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('../public/images/img-fundo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}

.container-agenda {
  background-color: var(--cor5);
  padding: 2.5rem 3rem;
  border-radius: 2rem;
  max-width: 900px;
  margin: 5% auto;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.container-agenda h2 {
  font-size: 2rem;
  letter-spacing: 0.07rem;
  text-align: center;
}

.form-agenda {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

/* LINHAS DO FORMULÁRIO */
.form-agenda .linha1,
.form-agenda .linha2,
.form-agenda .linha3 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.linha1, .linha3 {
  margin-top: 2%;
}

.form-agenda label {
  display: flex;
  flex-direction: column;
  color: var(--cor2);
  flex: 1;
  min-width: 250px;
  font-family: var(--fonte-padrao);
  letter-spacing: 0.15rem;
  font-weight: 100;
  padding-bottom: 1%;
}

/* Input e select dentro de label */

.form-agenda select {
  margin: 0;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--cor2);
  color: var(--cor5);
  font-family: var(--fonte-padrao);
  font-size: 1rem;
}

.textarea-wrapper {
  position: relative;
  width: 100%;
}

.textarea-wrapper textarea {
  width: 100%;
  min-height: 10rem;
  resize: vertical;
  padding-right: 3rem; /* espaço pra não sobrepor o botão */
}

/* Aplica estilo base ao input file */
input[type="file"].input-img {
  position: absolute;
  bottom: 0.3rem;
  left: 0%;
  z-index: 1;
  background-color: transparent;
  color: var(--cor2);
  border: none;
  padding: 0.6rem 0.8rem;
  font-family: var(--fonte-padrao);
  font-size: 1rem;
  cursor: pointer;
}

/* Estiliza o botão do input de arquivo */
input[type="file"].input-img::file-selector-button {
  background-color: var(--cor7);
  color: var(--cor2);
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-family: var(--fonte-padrao);
  font-size: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="file"].input-img::file-selector-button:hover {
  background-color: var(--cor4);
}

textarea {
  min-height: 10rem;
  resize: vertical;
  margin-top: 0.5rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--cor2);
  color: var(--cor0);
  font-family: var(--fonte-padrao);
  font-size: 1rem;
  z-index: 0;
}

select {
  margin-top: 0.3rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--cor2);
  color: var(--cor0);
  font-family: var(--fonte-padrao);
  font-size: 1rem;
}



