@font-face {
  font-family: "Lakes_neue";
  src: url(../fonts/tt_lakes_neue/TT\ Lakes\ Neue\ Trial\ Compressed\ Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Prosto_sans";
  src: url(../fonts/tt_prosto_sans/TT\ Prosto\ Sans\ Trial\ Condensed\ Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avallon";
  src: url(../fonts/avallon/Avallon.ttf);
  font-weight: normal;
  font-style: normal;
}
/*TESTE KALVO*/
/* Definição de variáveis de cor e fonte */
:root {
  --cor0: #310352;
  --cor1: #8a2be2;
  --cor2: #ffffff;
  --cor3: #696969;
  --cor4: #e0e0e0;
  --cor5: #4b0082;
  --cor7: #9831b8;

  --fonte-padrao: "Prosto_sans", sans-serif;
  --fonte-destaque: "Avallon", serif;
  --fonte-cabeçalho: "Lakes_neue";
}

/*//////////////////////////////////////////////////////////////////
[ RESET ESTILO ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*--------------------------------------------------------------------*/
body, html, #root {
  height: 100%;
}

.perfil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/images/BACKGROUND_LOGIN.png');
  background-size: cover; /* estica proporcionalmente */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 2.5%;
}

.perfil-card {
  background: var(--cor5);
  border-radius: 2rem;
  padding: 2rem 2rem;
  width: 100%;
  max-width: 1150px;
  max-height: 95vh; 
  position: relative;
  color: var(--cor2);
  font-family: var(--fonte-padrao);
}

.perfil-title {
  font-family: var(--fonte-cabeçalho);
  font-size: clamp(2rem, 2vw, 2.5rem);
  text-align: center;
  margin: -1% auto 1% auto;
  letter-spacing: 0.2rem;
}
.perfil-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 1rem 1rem;
}

.perfil-box {
  border: 2px solid var(--cor2);
  border-radius: 1.5rem;
  padding: 1rem 0.5rem;
}

.agendamentos {
  padding: 1rem;
}

.info-principal {
  display: flex;
  grid-column: span 1;
  position: relative;
  padding-top: 1rem; /* caso precise ajustar para o ícone não sobrepor */
}

.info-principal .avatar {
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: var(--cor7);
  margin-left: 25%;
  margin-top: -10%;
  /*margin-bottom: 0.5rem;*/
}

.avatar-pencil {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 1.2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 6px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* impede clique acidental */
}

.avatar:hover .avatar-pencil {
  opacity: 1;
  transform: scale(1.05);
}

.info-principal .avatar:hover {
  transform: scale(1.05);
}

.dados {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  position: relative;
}


.linha-nome {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 2.5rem; /* Espaço entre nome e ícone */
}

.linha-nome svg {
  cursor: pointer;
  margin-left: 1rem;
  margin-top: -5%;
}

.info-principal .dados h2 {
  font-size: clamp(1rem, 2vw, 1.4rem);
  margin-bottom: -0.5rem;
  font-family: var(--fonte-cabeçalho);
  letter-spacing: 0.04rem;
}

.perfil-box h3 {
  margin-bottom: 0.2rem;
  font-size: clamp(1rem, 2vw, 1.4rem);
}

.perfil-box.historicos {
  max-height: 250px; /* ou a altura que você quiser deixar visível */
  overflow: hidden;  /* impede o conteúdo de estourar */
  display: flex;
  flex-direction: column;
}

.linha-historicos {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 2.5rem; /* Espaço entre nome e ícone */
  margin-bottom: -0.8rem;
}

.linha-historicos svg {
  cursor: pointer;
  margin-left: 5rem;
  margin-top: -5%;
}
.linha-privacidade {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 2.5rem; 
  white-space: nowrap; /* Impede quebra de linha */
}

.linha-privacidade svg {
  cursor: pointer;
  margin-left: 5rem;
  margin-top: -5%;
}

.linha-preferencias {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 2.5rem; /* Espaço entre nome e ícone */
}

.linha-preferencias svg {
  cursor: pointer;
  margin-left: 5rem;
  margin-top: -5%;
}

.perfil-box p {
  margin-top: -1%;
  margin-bottom: 0;
  font-weight: 100;
  font-size: clamp(1rem, 2vw, 1rem);
}

.delete {
  color: #e84141;
  font-weight: 600;
  cursor: pointer;
}

.avatar-tatu {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: var(--cor7);
  margin-right: 1.8rem;
  margin-bottom: 100%;
  transition: transform 0.2s ease;
}
.avatar-tatu:hover .avatar-tatu-pencil {
  opacity: 1;
  transform: scale(1.05);
}

.info-principal .avatar-tatu:hover {
  transform: scale(1.05);
}
.avatar-tatu-pencil {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 6px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* impede clique acidental */
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: var(--cor7); /* roxo se não tiver imagem */
  margin-right: 1.8rem;
  margin-top: -10%;
  transition: transform 0.2s ease;
}




.linha-informacoes {
  margin-left: -30%;
}

/* Responsividade simples */
@media (max-width: 860px) {
  .perfil-grid {
    grid-template-columns: 1fr;
  }
  .btn-confirmar {
    position: static;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
  }
}

.input-groupos {
  padding: 0px 7%;
}

.input-groupos input {
  width: 180%; /* Isso faz o input ocupar toda a largura da div */
  box-sizing: border-box; /* Garante que padding/borda não ultrapassem os limites */
  font-family: var(--fonte-padrao);
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 1.4rem;
  color: var(--cor1);
  padding: 2%;
  border-radius: 10px;
  display: block; /* Garante que não haja elementos lado a lado */
  margin-bottom: 1rem; /* Espaço entre inputs */
  lex-wrap: wrap; /* Garante responsividade */
}
 input-groupos-config {
  padding: 0px 7%;
}
.input-groupos-config input,select {
  width: 50%; /* Isso faz o input ocupar toda a largura da div */
  box-sizing: border-box; /* Garante que padding/borda não ultrapassem os limites */
  font-family: var(--fonte-padrao);
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 1.4rem;
  color: var(--cor1);
  padding: 2%;
  border-radius: 10px;
  display: block; /* Garante que não haja elementos lado a lado */
  margin-bottom: 1rem; /* Espaço entre inputs */
  lex-wrap: wrap; /* Garante responsividade */
}

.botoes-edicao {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.botao-salvar,
.botao-cancelar {
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao-salvar {
  background-color: var(--cor0);
  box-shadow: -3px 2px 1px #9831b8;
  color: white;
}

.botao-salvar:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.botao-cancelar {
  background-color: var(--cor0);
  box-shadow: -3px 2px 1px #9831b8;
  color: white;
}

.botao-cancelar:hover {
  background-color: #c82333;
  transform: scale(1.05);
}
.goPencil {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}
.botao-avatar {
  margin-top: 0.5rem;
  margin-left: 0rem;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  background-color: var(--cor0);
  text-align: center;
  color: var(--cor2);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.portfolio-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid var(--cor4);
  transition: transform 0.3s ease;
}

.portfolio-img:hover {
  transform: scale(1.05);
}

.linha-portfolio {
  display: flex;
  align-items: center;
  gap: 8px;
}

.linha-portfolio h3 {
  margin: 0;
}

.linha-portfolio svg {
  cursor: pointer;
}

.botao-avatar:hover {
  background-color: red; /* verde ou outro efeito */
}
.botao-avatar {
  background-color: var(--cor0);
  box-shadow: -3px 2px 1px #9831b8;
  color: white;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.8rem;
}

.span-continuar {
  margin-top: 10rem;
}