/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: 'Lakes_neue';
    src: url(./fonts/tt_lakes_neue/TT\ Lakes\ Neue\ Trial\ Compressed\ Bold.ttf); 
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Prosto_sans';
    src: url(./fonts/tt_prosto_sans/TT%20Prosto%20Sans%20Trial%20Condensed%20Thin.otf);
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Prosto_sans';
    src: url(./fonts/tt_prosto_sans/TT\ Prosto\ Sans\ Trial\ Condensed\ Light.otf);
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Prosto_sans';
    src: url(./fonts/tt_prosto_sans/TT\ Prosto\ Sans\ Trial\ Condensed\ Regular.otf);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Prosto_sans';
    src: url(./fonts/tt_prosto_sans/TT\ Prosto\ Sans\ Trial\ Condensed\ Bold.otf);
    font-weight: 700;
    font-style: normal;
  }
  
    @font-face {
      font-family: 'Avallon';
      src: url(./fonts/avallon/Avallon.ttf); 
      font-weight: normal;
      font-style: normal;
    }
    
    
  
  /* Definição de variáveis de cor e fonte */
  :root {
  
    --cor0: #310352;
    --cor1: #8A2BE2; 
    --cor2: #FFFFFF;
    --cor3: #696969;
    --cor4: #E0E0E0;
    --cor5: #4b0082;
    --cor7: #9831b8;
  
    --fonte-padrao: 'Prosto_sans', sans-serif;
    --fonte-destaque: 'Avallon', serif;
    --fonte-cabeçalho: 'Lakes_neue'; 
  }
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);
  }
  
  
  
  /*---------------------------------------------*/

.perfil-profissional {
  position: relative;
  z-index: 1;
  padding: 40px 20px;
  color: #fff;
  background-color: transparent;
  min-height: 100vh;
  margin-top: 8%;
}

.background-overlay {
  position: absolute;
  margin-top: -5%;
  top: -10%;
  left: 0;
  width: 110%;
  height: 110%;
  background-image: url('/images/img-fundo.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.25;
  z-index: -100;
  pointer-events: none;
}

.perfil-topo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  max-width: 1000px;
  margin-left: 20%;
  flex-wrap: wrap;
}

.perfil-topo img {
  width: 25%;
  height: 25%;
  object-fit: cover;
}

.bloco-info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.info-perfil h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--cor4);
  margin-bottom: 10px;
  font-family: var(--fonte-padrao);
}

.dados-basicos {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.dados-basicos p {
  margin: 0;
  font-size: 1rem;
  color: var(--cor2);
  font-weight: 300;
}

.descricao p {
  font-size: 1rem;
  text-align: justify;
  color: var(--cor2);
  margin-top: 10px;
  font-weight: 300;
  line-height: 1.5;
}

/*---------------------------------BOTÃO STYLE-------------------------------------------------------*/
.botao-agenda {
  padding: 0.70% 3%;
  background-color: var(--cor0);
  border-radius: 10px;
  margin-left: 72%;
  margin-top: -30%;
  box-shadow: -3px 2px 1px #9831b8;
  border: none;
  z-index: 1;
  position: relative;
  transition: all 250ms;
  overflow: hidden;
  text-decoration: none;
  font-family: var(--fonte-padrao);
  color: var(--cor2);
  font-size: 100%;
  letter-spacing: 2px;
}

.botao-agenda::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 10px;
  border: none;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
}

.botao-agenda:hover {
  color: #e8e8e8;
}

.botao-agenda:hover::before {
  width: 100%;
}

/*-------------------------PORTFOLIO--------------------------------------*/


.portfolio-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 2rem;
  position: relative;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.carousel-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.img-portfolio {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 2px;
}

.btn-carousel {
  color: white;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.2s ease;
}
.icone-navegacao {
  width: 30px;
  height: 30px;
  color: white;
}

.btn-carousel:hover {
  background-color: var(--cor1);
}

@media (max-width: 768px) {
  .img-portfolio {
    width: 100px;
    height: 100px;
  }

  .btn-carousel {
    font-size: 1rem;
    padding: 0.2rem;
  }
}
